<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401109715354-63111d7c80e1q1aidg9q9vduigo13mcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401109715354-63111d7c80e1q1aidg9q9vduigo13mcc</string>
	<key>API_KEY</key>
	<string>AIzaSyBUyHB1YG2OhXJ58gg5KoyLMZ1HV3ILYXc</string>
	<key>GCM_SENDER_ID</key>
	<string>401109715354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aslihangurkan.FXApplication</string>
	<key>PROJECT_ID</key>
	<string>fxapplication-73d71</string>
	<key>STORAGE_BUCKET</key>
	<string>fxapplication-73d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401109715354:ios:0a5c9b6b40e51923cd5223</string>
</dict>
</plist>